html{
    height: 100%;
    background-color: rgb(200, 207, 200);
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}

.cartCard{
    display: flex;
    background-color: rgb(200, 207, 200);
    padding: 20px 0px;
    width: 30vw;
}

.cartCard > img, .imgCart{
    min-width: 150px;
    max-width: 20vw;
}

.qtyAddbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.qtyInput{
    width: 30px;
}

.cartSection{
    display: flex;
    align-items: top;
    justify-content: center;
    height: 320px;
    gap: 10vw;
}

.orderSummary{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    background-color: rgb(200, 207, 200);
    padding: 10px 50px;
    border-radius: 20px;
    border: 4px solid rgb(10, 56, 10);
    color: rgb(10, 56, 10);
    margin: 40px;
}

.payment{
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(10, 56, 10);
    background-color: rgb(29, 126, 85);
    color: white;
}

.payment:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px rgb(116, 179, 137);
}

.removeCartBtn{
    height: 30px;
    border-radius: 10px;
    border: 2px solid rgb(10, 56, 10);
    background-color: rgb(29, 126, 85);
    color: white;
}

.removeCartBtn:hover{
    cursor: pointer;
    box-shadow: 0px 0px 4px rgb(116, 179, 137);
}

.total{
    font-size: 20px;
    font-weight: bold;
}

.qtySection{
    display: flex;
}

.plusQty{
    border: 1px solid rgb(21, 51, 15);
    border-left: none;
    padding: 0px 5px;
}

.minusQty{
    border: 1px solid rgb(21, 51, 15);
    border-right: none;
    padding: 0px 6px;
}

.plusQty:hover, .minusQty:hover{
    cursor: pointer;
    box-shadow: 0px 0px 3px rgb(21, 51, 15);
}

.qtyInput{
    width: 30px;
    text-align: center;
    border: 1px solid rgb(21, 51, 15);
}

.qtyInput[type=number]::-webkit-inner-spin-button,
.qtyInput[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.emptyCart{
    display: flex;
    flex-direction: column;
    align-items: center;
}