.toastContainer {
    position: fixed;
    text-align: center;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    background:radial-gradient(ellipse, rgb(37, 126, 29) 0%,  rgb(50, 168, 39) 65%, rgb(61, 206, 48) 100%);
    border: 2px solid green;
    border-radius: 10px;;
    color: white;
    font-weight: bold;
    z-index: 2;
    width: max(200px, 10vw);
    padding: 20px;
    font-family: Arial;
    opacity: 1;
    animation: toastDisplay 2s ease forwards;
}


@keyframes toastDisplay {
    0% { 
        opacity: 0;
        transform: translate(-50%, -300%);
    }
    20% { 
        opacity: 1;
        transform: translate(-50%, 0);
    }
    80% { 
        opacity: 1;
        transform: translate(-50%, 0);
    }
    100% { 
        opacity: 0;
        transform: translate(-50%, -300%);
    }
}